apiVersion: apps/v1
kind: Deployment # it is not required to declare the replicaset. it sets autmatically in the background.
metadata:
  name: mydeployment
spec:
  replicas: 20
  selector:
    matchLabels:
      app: web
  template:  
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: kubedevio/web-color:green
          ports:
            - name: http
              containerPort: 80
              protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: webcolor
spec:
  selector:
    app: web
  ports:
  - port: 80 # Port of my Service
    targetPort: 80 # Container port (it redirects to the POD port)
    name: http
    protocol: TCP
    nodePort: 30080 #fixing the port
  type: NodePort #From 3000 to 32700