apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: sergiodoc/web-color-priv:green
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
      imagePullSecrets: # setting my credentials.
        - name: docker-auth #the name of your secret.
---
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  selector:
    app: web
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30000
  type: NodePort