apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: do-block-storage #I got this name from the digital ocean cluster kubectl get storageclass. Just it we are done.
  resources:
    requests:
      storage: 4Gi
      
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgre
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgre
  template:
    metadata:
      labels:
        app: postgre
    spec:
      containers:
        - name: postgre
          image: postgres:15.0
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "kubenews"
            - name: POSTGRES_USER
              value: "kubenews"
            - name: POSTGRES_PASSWORD
              value: "pq123"
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: db-vol
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: db-vol
          persistentVolumeClaim:
            claimName: db-pvc
---

apiVersion: v1
kind: Service
metadata:
  name: postgre
  labels:
    app: postgre
spec:
  type: LoadBalancer
  selector:
    app: postgre
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432